/.idea/.name
/.idea/compiler.xml
/.idea/copyright
/.idea/copyright/profiles_settings.xml
/.idea/gradle.xml
/.idea/runConfigurations.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/encodings.xml
/.gradle/2.8/taskArtifacts/fileHashes.bin
/.gradle/2.8/taskArtifacts
/.gradle/2.8/taskArtifacts/cache.properties
/.gradle/2.8/taskArtifacts/outputFileStates.bin
/.gradle/2.8/taskArtifacts/cache.properties.lock
/.gradle/2.8/taskArtifacts/fileSnapshots.bin
/.gradle/2.8
/.gradle/2.8/taskArtifacts/taskArtifacts.bin
/.gradle
/build
/captures
/.idea
*.jks
