Системение требования: 
1. Windows не ниже windows Vista;
2. Наличие вэб-сервиса, проекта PolitRange;

Перед началом работы с программой, надо:
1. Установить MySQL Community Server, доступен по ссылке
http://dev.mysql.com/downloads/windows/installer/5.7.html
2. Установить вэб-сервис PolitRange
