body { padding-top: 70px; }

.th-avatar{
    width: 128px;
    height: 128px;
    overflow: hidden;
    border-radius: 500px;
}

.th-avatar img {
    border-radius: 500px;
    max-width: 128px;
    max-height: 128px;
}

.carousel {
    padding-top: 40px;
}
.carousel .glyphicon {
    color: #286090;
}

.carousel-control {
    background-image: none !important;
}

.row:not(#project) {
    padding-top: 75px;
}

.carousel-inner {
    margin: 0 auto;
}

#androidCarousel {
    width: 100%;
    margin: 0 auto;
}

.thumbnail  {
    min-height: 265px;
}


@media (min-width: 768px) {
    #androidCarousel {
        width: 60rem;
    }
}

@media (min-width: 992px) {
    .thumbnail{
        padding-top: 22px;
    }
}
